* {
  box-sizing: border-box;
  font-family: 'lato', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/*********** General Codes ************/
.cta-parent {
  position: relative;
  padding-top: 34px;
}

.cta-parent::after {
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #e9e9e9;
}

/*image*/
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

/*links*/
a {
  position: relative;
  display: block;
  padding-left: 12px;
  margin-bottom: 12px;
  color: #199ed1;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #999;
}

a::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  content: '';
  background: url('../img/right-arrow.svg') center/cover no-repeat;
}

.phone-contact {
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
}

/*container*/
.container {
  position: relative;
  max-width: 1280px;
  margin: auto;
}

/*fonts*/
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #fff;
}

h1 {
  margin-top: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  color: #777;
}

h1.down-space {
  margin-bottom: 22px; /*Ask them a better way to do it*/
}

h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #999;
}

h2.down-space {
  margin-bottom: 16px; /*Ask them a better way to do it*/
}

h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #999;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

/*********** Navbar ************/
.navbar {
  width: 100vw;
  height: auto;
  padding: 24px;

  flex-wrap: wrap;
}

.navbar .container {
  display: grid;

  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.navbar input {
  width: 220px;

  grid-column: 3/3;
}

.navbar-links {
  display: none;
  margin: 0;

  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-column: 1/4;
  -webkit-padding-start: 0;
}

.navbar-links li {
  margin-right: 18px;
  list-style: none;
}

.navbar-links li a {
  padding-left: 0;
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 18px;
}

.navbar-links li a::before {
  position: inherit;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  content: '';
  background: inherit;
}

.navbar-search {
  position: relative;
  min-width: 220px;
  height: 34px;
  padding: 0 24px;
  background: url('../img/search.svg')
  center/cover no-repeat,linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.12));
  background-position: 90% 50%;
  background-size: 16px 16px;
  border: none;
  border-radius: 80px;
}

@media(min-width:480px) {
  .navbar-links {
    display: flex;
  }
}

/*********** Header ************/
.stage {
  margin-bottom: 10px;

  grid-column: 1 / 4;
}

.stage-image {
  height: 200px;
  background: url('https://dummyimage.com/768x432/e9e9e9/ccccccc') center/cover no-repeat;
}
.stage-back {
  position:relative;
  height: 100%;
  width:100%;
  z-index:-1;
}
.stage-back-color {
  width: 100vw;
  height: 432px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background:#199ed1;
}

.stage-content {
  padding: 24px 24px 36px 24px;
  background: #199ed1;
}

.stage-content > * {
  color: #fff;
}

.stage-content .title {
  margin-top: 0;
}

.stage-content .btn-white-arrowed {
  position: relative;
  min-width: 180px;
  height: 36px;
  margin-top: 24px;
  color: #199ed1;
  text-align: left;
  text-indent: 8px;
  background: #fff;
  border: 1px solid #fff;
}

.stage-content .btn-white-arrowed::after {
  position: absolute;
  top: 8px;
  right: 18px;
  width: 20px;
  height: 20px;
  content: '';
  background: url('../img/right-arrow.svg') center/cover no-repeat;
}

@media(min-width:768px) {
  .stage-image {
    height: 432px;
    position:relative;
  }

  .stage-content {
    position: absolute;
    top: 50%;
    right: 54px;
    min-width: 380px;
    padding: 36px 24px;
    transform: translateY(-50%);
  }
}

/*********** Main ************/
.main {
  display: grid;
  max-width: 1280px;
  margin: auto;

  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

/**** Breadcrumbs ****/
ul.breadcrumbs {
  width: 100%;
  height: auto;
  margin: 0;
  margin: 18px 0 18px -18px;

  grid-column: 1 / 4;
  -webkit-padding-start: 14px;
}

ul.breadcrumbs li {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  margin-left: 16px;
  color: #199ed1;
}

ul.breadcrumbs li a {
  margin-bottom: 0;
  font-size: 14px;
}

ul.breadcrumbs li:last-child a {
  color: #999;
}

/**** Main Content ****/
.content {
  min-height: 100px;
  padding: 0 24px;

  grid-column: span 3;
}

@media(min-width:480px) {
  .content section img {
    float: left;
    width: 50%;
    margin-right: 24px;
  }
}

video {
  width: 100%;
}

@media(min-width:600px) {
  .video-block {
    display: grid;

    grid-auto-flow: dense;
    grid-column: 1/7;
    grid-column-gap: 32px;
    grid-template-columns: repeat(6,1fr);
  }

  .video-block h4 {
    grid-column: 1/7;
  }

  .video-block video {
    grid-column: 1/4;
  }

  .video-block .video-timer {
    display: block;
    width: 100%;
    margin-top: 6px;
    color: #999;
    text-align: right;

    grid-column: 1/4;
  }

  .video-block .text {
    grid-column: 4/7;
  }

  .video-info {
    grid-column: 1/4;
  }

  .support .document-group {
    padding: 24px;

    grid-column: 4/7;
  }
}

@media(min-width:1024px) {
  .video-block {
    display: block;

    grid-column: 1/3;
  }

  .video-info {
    grid-column: 3/5;
  }

  .support .document-group {
    grid-column: 5/7;
  }
}

.list {
  -webkit-padding-start: 18px;
}

.list li {
  margin-top: 8px;
}

.table-basic {
  border-collapse: collapse;
}

.table-basic,
.table-basic tbody,
.table-basic tr {
  width: 100%;
}

.table-basic th,
.table-basic td {
  width: 50%;
  height: 40px;
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.table-basic th {
  color: #fff;
  background: #199ed1;
}

.table-basic tr {
  background: #fff;
}

blockquote {
  position: relative;
  margin: 60px 0;
}

blockquote:before {
  margin-right: .12em;
  font-size: 4em;
  line-height: .1em;
  color: #333;
  vertical-align: -.4em;
  content:'\201c';
}

blockquote:after {
  margin-left: .25em;
  font-size: 1em;
  line-height: .1em;
  color: #333;
  vertical-align: 0;
  content:'\201d';
}

.form-group {
  margin-top: 16px;
}

@media(min-width:767px) {
  .form-group {
    display: flex;

    align-items: center;
  }

  .form-group label,
  .form-group legend {
    min-width: 160px;
    padding-right: 12px;
  }

  .form-group legend {
    float: left;
  }

  .form-group fieldset .input-with-text:nth-child(3) {
    margin-left: 160px;
  }

  .form-group fieldset {
    width: 100%;
  }

  .form-group .select-with-arrow {
    width: 100%;
  }
}

.form-group > * {
  color: #999;
}

.form-group select {
  color: #999;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group textarea,
.form-group select {
  display: block;
  border: 1px solid #ccc;
}

.form-group textarea {
  width: 100%;
  min-height: 60px;
}

.form-group input[type=text],
.form-group input[type=number],
.form-group input[type=email],
.form-group select {
  width: 100%;
  height: 38px;
  background: #fff;
}

.form-group input[type=radio],
.form-group input[type=checkbox] {
  display: inline-block;
}

.form-group select {
  -webkit-appearance: none;
  text-indent: 16px;
  border-radius: 0;
  outline: 0;
}

.form-group .select-with-arrow {
  position: relative;
}

.form-group .select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 25px;
  height: 100%;
  pointer-events: none;
  background: url(../img/drop-arrow.svg)
  center/cover no-repeat,linear-gradient(rgba(0,0,0,.12), rgba(0,0,0,.12));
  background-size: 12px 12px;

  align-content: center;
  justify-content: center;
}

.form-group .btn-submit,
.form-group .btn-cancel {
  display: inline-block;
  width: 88px;
  height: 32px;
}

.form-group .btn-submit {
  color: #fff;
  background: #199ed1;
  border: 1px solid #199ed1;
  transition: .3s ease-in-out;
}

.form-group .btn-submit:hover {
  color: #199ed1;
  background: #fff;
  border: 1px solid #fff;
}

.form-group .btn-cancel {
  display: inline-flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  background: #999;
  border: 1px solid #999;
  transition: .3s ease-in-out;

  align-items: center;
  justify-content: center;
}

.form-group .btn-cancel:hover {
  color: #999;
  background: #fff;
  border: 1px solid #999;
}

.form-group .btn-cancel::after {
  position: initial;
  top: initial;
  left: initial;
  width: initial;
  height: initial;
  content: '';
  background: initial;
}

form footer.sub-info {
  color: #999;
}

/*********** Aside ************/
.aside {
  min-height: 100px;
  padding: 0 24px;

  grid-column: span 3;
}

.aside-contacts .contacts-group {
  position: relative;
  display: flex;
  padding-bottom: 24px;

  flex-wrap: wrap;
}

.aside-contacts h2 {
  margin-top: 0;
}

.aside-contacts .contacts-group::after {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #e9e9e9;
}

.aside-contacts h2:first-child {
  position: relative;
  padding-bottom: 24px;
}

.aside-contacts h2:first-child::after {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #e9e9e9;
}

.aside-contacts h3 {
  position: relative;
  padding-bottom: 24px;
}

.aside-contacts h3::after {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #e9e9e9;
}

.contacts-group .contacts-image {
  width: 130px;
}

.contacts-group .contacts-image img {
  margin-top: 16px;
  width:100%;
  height:160px;
}

.contacts-group .contacts-content {
  width: calc(100% - 130px);
  padding-left:24px;
}

.contacts-group .contacts-content p:nth-child(2) {
  margin-top: 0;
}

.contacts-group .contacts-content .contacts {
  margin-top: 16px;
}

.document-group {
  display: none;
}

@media(min-width:480px) {
  .document-group {
    display: block;
  }
}

ul.doc-list {
  margin-top: 12px;

  -webkit-padding-start: 0;
}

ul.doc-list li {
  display: flex;
  width: 100%;
  padding: 12px 0;
  list-style: none;
  border-top: 1px solid #a29d9d;
}

ul.doc-list li:last-child {
  border-bottom: 1px solid #a29d9d;
}

ul.doc-list li img {
  width: 56px;
  height: 56px;
}
ul.doc-list li svg {
  width: 56px;
  height: 56px;

  fill: #d3cdce;
}

ul.doc-list li .doc-content {
  margin-left: 12px;
}

ul.doc-list li .doc-content a {
  padding-left: 0;
  margin-bottom: 8px;
  font-size: 18px;
}

ul.doc-list li .doc-content a::before {
  position: initial;
  top: initial;
  left: initial;
  width: initial;
  height: initial;
  content: '';
  background: initial;
}

ul.doc-list li .doc-content p {
  margin-top: 0;
  font-size: 18px;
  color: #a29d9d;
}

/*********** Support ************/
.support {
  width: 100vw;
  min-height: 600px;
  padding: 0;
  margin-top: 48px;
}

.small-title {
  font: 300 16px/24px 'Lato', serif;
}

.teaser {
  padding: 24px;
  margin-top: 12px;
}

.teaser.active {
  background: #f1f1f1;
}

teaser .teaser-image {
  width: 100%;
}

@media(min-width:600px) {
  .teaser {
    display: grid;

    grid-gap: 32px;
    grid-template-columns: repeat(6, 1fr);
  }

  .multiple-content h3 {
    grid-column: 1/7;
  }

  .teaser .teaser-image {
    grid-column: 1/4;
  }

  .teaser .teaser-content {
    grid-column: 4/7;
  }

  .teaser .teaser-column {
    grid-column: span 3;
  }
}

/*********** Footer ************/
.footer {
  width: 100vw;
  padding: 40px 24px;
  margin-top: 8px;
  background: #333;
}

.footer a {
  color: #fff;
}

.footer p {
  color: #fff;
}

/*********** Media Query ************/
@media(min-width:1024px) {
  .breadcrumbs {
    grid-column: span 3;
  }

  .content {
    grid-column: span 2;
  }

  .aside {
    grid-column: span 1;
  }
}


/*********** SVG MARKUP ************/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-file-excel-o {
  width: .857421875em;
}
